@import 'utility.css';

:root {
  --primary: #a9e4db;
  --secondary: #4d918c;
  --dark: #000000;
  --light: #dbfffe;
  --tertiary: #4c555b;
  --ternary: #27504d;
  --fifth: cyan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  background-image: linear-gradient(var(--tertiary), var(--light));
  font-family: 'Poppins', sans-serif;;
}

.head-container {
  height: 100vh;
  width: 8vw;
  padding: 2rem 0rem;
  background-image: linear-gradient(var(--light), var(--primary), var(--light));
  z-index: -1;
}

div.head-container p {
  color: var(--dark);
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0rem;
  align-self: flex-end;
}

div.head-container p.align2 {
  font-size: 1.3rem;
  white-space: nowrap;
  margin-left: -65px;
}
div.head-container p.align {
  font-size: 20px;
  white-space: nowrap;
  margin: 1.8rem 0.5rem;
  white-space: nowrap;
  font-size: 0.8rem;
  margin-left: -10px;
}

.header {
  display: flex;
  flex-direction: row;
}

.outer-container {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(to bottom right,var(--ternary), var(--secondary), var(--primary));
  width: 92vw;
  height: 90vh;
  position: absolute;
  left: 5%;
  top: 5%;
  /* overflow: hidden; */
}

.inner-container {
    z-index: 2;
    height: 90vh;
    width: 25vw;
    background-color: var(--dark);
    
}

div.inner-container img{
    position: absolute;
    top: -43%;
    left: -13%;
    overflow: hidden;
  }

.link {
  position: absolute;
  left: 40%;
  top: 8%;
  display: flex;
  z-index: 10;
}

.link img {
  padding: 0rem 1rem;
  margin-top: -4.3%;
  height: 100px;
  width: 130px;
}

.link a {
  text-transform: uppercase;
    margin-left: -2%;
    padding: 0rem 3rem;
    color: var(--primary);
    font-size: 1.3rem;
    text-decoration: none;
}

.link a:hover {
  color:var(--light);
  transition: 0.5s ease;
}

div.current-container {
  z-index: 0;
  position: absolute;
  left: 60%;
  top: 5%;
}

.btn-primary {
  border-color: var(--dark);
  color: var(--light);
}

.btn-primary:hover {
  background-color: var(--light);
  color: var(--dark);
  transition: 0.5s ease;
}

.quote {
  position: absolute;
  top: 8%;
  left: 6%;
}

div.quote p{
  font-size: 2.5rem;
}
.left {
  color: var(--secondary);
  font-weight: 700;
}
.right {
  margin-top: -15px;
  color: white;
  margin-left: 45px;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

.passion {
  position: absolute;
  top: 60%;
  left: 8%;
}
.main-line {
  font-size: 4rem;
  color: var(--ternary);
  letter-spacing: 1rem;
  font-weight: 500;
}
.sub-line {
  color:var(--secondary);
  line-height: 0.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.about-me {
  background-color: var(--ternary);
}

.about-head {
  background-image: linear-gradient(180deg,var(--fifth),var(--light));
  height: 7%;
  width: 13%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.about-head h2 {
  margin-left: 17%;
  font-weight: 600;
}
.about-container {
  color: -var(--dark);
  background-image: linear-gradient(180deg,var(--fifth),var(--light));
}
.writting {
  margin-left: 50px;
}
.writting h1 {
  line-height: 7rem;
  font-weight: 800;
}
.wrtting p {
  line-height: 6rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.first-container {
  box-shadow: -15px 20px 15px 0px var(--secondary);
}

.second-container {
  box-shadow: -5px 25px 15px 0px var(--secondary);

}

.third-container {
  box-shadow: 15px 20px 15px 0px var(--secondary);
}

.writting-1 h1 {
  font-size: 1.7rem;
  margin-left: -10px;
}

.writting-2 h1 {
  font-size: 1.7rem;
  margin-left: -20px;
}

.portfolio {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.portfolio-head {
  position: absolute;
  right: 0px;
  background-image: linear-gradient(20deg, var(--dark),var(--tertiary));
  width: 20%;
  height: 7vh;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.portfolio-head h2 {
  font-size: 1.8rem;
  color: var(--light);
  margin-left: 20%;
  font-weight: 900;
}
.portfolio {
  background-image: linear-gradient(var(--primary),var(--fifth));
}
.first-portfolio-container {
  margin-top: 2%;
  margin-left: 7%;
}
.second-portfolio-container {
  margin-top: 7%;
  margin-left: 4%;
}
.third-portfolio-container {
  margin-top: 9%;
  margin-left: 4%;
}
.writting-portfolio {
  color: var(--light);
  font-weight: 500;
}
.portfolio-container {
  background-image: linear-gradient(var(--dark),var(--tertiary));
}