.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    margin-left: 5%;
  }

  .btn {
      padding: 0.6rem 1.2rem;
      border-radius: 2rem;
      border-width: 0.2rem;
      background-color: transparent;
      border-style: solid;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 400;
  }

