.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    margin-left: 5%;
  }

  .btn {
      padding: 0.6rem 1.2rem;
      border-radius: 2rem;
      border-width: 0.2rem;
      background-color: transparent;
      border-style: solid;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 400;
  }

  .general-card-container {
    height: 80%;
    width: 25%;
    border-radius:4rem;
  }
  
  .writting {
    margin-left: 50px;
  }
  .writting h1 {
    line-height: 7rem;
    font-weight: 800;
  }
  .wrtting p {
    line-height: 6rem;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  .general-container {
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  .first-about-container {
    margin-top: 7%;
    margin-left: -5%;
  }
  .second-about-container {
    margin-top: 2%;
    margin-left: 3%;
  }
  .third-about-container {
    margin-top: 7%;
    margin-left: 3%;
  }
  .first-general-shadow {
    box-shadow: -15px 20px 15px 0px var(--secondary);
  }
  .second-general-shadow {
    box-shadow: -5px 25px 15px 0px var(--secondary);
  }
  .third-general-shadow {
    box-shadow: 15px 20px 15px 0px var(--secondary);
  }

  .prog-logos {
    height: 30%;
    width: auto;
  }